#chartContainer {
  width: 75%;
  margin: auto;
}

#finePrint {
  margin: 0 20vw;
}

body {
  background-color: #111;
  color: #bbb;
  font-family: Arial;
}

h1 {
  text-align: center;
  margin: 3rem auto;
}
