#chartContainer {
  width: 85%;
  margin: auto;
}

#finePrint {
  margin: 0 10vw;
  margin-top: 5rem;
}

body {
  background-color: #111;
  color: #bbb;
  font-family: Arial;
}

h1 {
  text-align: center;
  margin: 3rem auto;
}
